@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.headline {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.color {
    margin-right: 5em;
}

.item img {
    margin-bottom: 0.5em;
}

.item h1 {
    margin: 1em 0 0.5em 0;
}

.logo {
    position: absolute;
    top: 0em;
    right: 0em;
}

.jumbotron {
    background-color: #faf2ec;
}

.jumbotron .image {
    text-align: center;
}

.jumbotron .image img {
    max-width: 60%;
}
